- var url = '/ezfiles/786/1786/img/485/'

.page.container-fluid.company#about
  .row
    .col-xs-12.module-title
      h4.title
        span.tw 關於我們
        span.en About
    .col-sm-3.col-xs-12.img
      img.img-responsive(src=url + "aboutus-1.jpg", alt="")
    .col-sm-3.col-xs-12.img
      img.img-responsive(src=url + "aboutus-2.jpg", alt="")
    .col-sm-3.col-xs-12.img
      img.img-responsive(src=url + "aboutus-3.jpg", alt="")
    .col-sm-3.col-xs-12.text
      p 以「皮膚科學」和「檢測分析科學」為基礎，挖掘市場需求，提供符合國際規範的「360°肌膚保養整合方案」--從創新原料開發到高效產品生產，透過我們的五大實驗室與通過ISO 22716認證的專業化妝品工廠，以各項精準數據分析和嚴格的品質管理，確保產品安全、穩定、有效，為消費者的美麗和皮膚健康把關。

.page.container-fluid.company#philosophy
  .row
    .col-xs-12.module-title
      h4.title
        span.tw 核心理念
        span.en Philosophy
    .col-sm-4.col-xs-12
      .content
        span.svg(style="background:url("+url+"philosophy-1.svg); width: 120px; height: 109px;")
        figcaption
          span.title
            span.tw 天然
            span.en Natural
          span.info 首創綠色專利製程，高濃度、高效能、環境友善
    .col-sm-4.col-xs-12
      .content
        span.svg(style="background:url("+url+"philosophy-2.svg); width: 108px; height: 114px;")
        figcaption
          span.title
            span.tw 安全
            span.en Safe
          span.info 以OECD標準，確保對皮膚無致敏、無刺激
    .col-sm-4.col-xs-12
      .content
        span.svg(style="background:url("+url+"philosophy-3.svg); width: 74px; height: 113px;")
        figcaption
          span.title
            span.tw 有效
            span.en Efficient
          span.info 通過體內/體外功效性測試為產品確效

.page.container-fluid.company#advantages
  .row
    .col-xs-12.module-title
      h4.title
        span.tw 妍禾優勢
        span.en Advantages
    .col-xs-12.info
      .content
        h4.title
          span.svg(style="background:url("+url+"advantages-icon.svg);")
          | 專業的團隊
        p 妍禾生醫在相關領域已有超過20年豐富經驗，透過敏銳的市場洞察力，能夠迅速根據客戶屬性，以綠色美學工藝結合創新研發成果，全方位量身打造並開發真正安全、有效的原料與產品，創造長銷奇蹟。
      .content
        h4.title
          span.svg(style="background:url("+url+"advantages-icon.svg);")
          | 創新的技術
        p 研發團隊人員遍及化學、生化、化妝品、藥學、微生物、生醫材料、生技、醫學等專業領域，結合產、官、學豐富的資源，在原料開發、產品劑型與生產製程上不斷研發、創新，並於國際期刊中發表學術論文，同時已取得歐盟、美國、台灣、中國、日本等多國專利，雄厚的研發實力讓妍禾的產品更具國際競爭力。
      .content
        h4.title
          span.svg(style="background:url("+url+"advantages-icon.svg);")
          | 完整的服務
        p 由於豐富的品牌客戶服務經驗，我們更知道要從市場中脫穎而出的不容易，因此獨創「360°肌膚保養整合方案」--整合產品的原料、劑型、配方、法規遵循、專利申請等各項服務，幫助您減少投入在產品開發的時間與精力，更能專注在品牌推廣與通路開發。
      .content
        h4.title
          span.svg(style="background:url("+url+"advantages-icon.svg);")
          | 嚴謹的品質
        p 每一個妍禾生醫研發生產的產品，皆須通過功效性、安全性、安定性等各項檢測，經標準化作業流程，於通過ISO 22716認證的10萬級無塵生產室生產。工廠定期檢測落菌、落塵、水質，以ISO 11930之國際標準為品質把關。

.page.container-fluid.company#factory
  .row
    .col-xs-12.module-title
      h4.title
        span.tw 工廠介紹
        span.en Factory
    .col-sm-7.col-xs-12.owl
      .owl-carousel
        .item(data-hash="owl-1")
          img.img-responsive(src=url + "factory-1.jpg", alt="")
        .item(data-hash="owl-2")
          img.img-responsive(src=url + "factory-2.jpg", alt="")
        .item(data-hash="owl-3")
          img.img-responsive(src=url + "factory-3.jpg", alt="")
        .item(data-hash="owl-4")
          img.img-responsive(src=url + "factory-4.jpg", alt="")
        .item(data-hash="owl-5")
          img.img-responsive(src=url + "factory-5.jpg", alt="")
      .hash-link
        ul.list-inline
          li
            a(href="#owl-1")
              img.img-responsive(src=url + "factory-1.jpg", alt="")
          li
            a(href="#owl-2")
              img.img-responsive(src=url + "factory-2.jpg", alt="")
          li
            a(href="#owl-3")
              img.img-responsive(src=url + "factory-3.jpg", alt="")
          li
            a(href="#owl-4")
              img.img-responsive(src=url + "factory-4.jpg", alt="")
          li
            a(href="#owl-5")
              img.img-responsive(src=url + "factory-5.jpg", alt="")
    .col-sm-5.col-xs-12.text
      p
        | 妍禾生醫以新竹總部為生產中心，主要生產化妝品原料和液劑、乳劑、霜劑、膏劑等化妝品代工(OEM/ODM)；
        span.text-red 宜蘭廠區則以生產天然植物萃取的綠色原料為主。
      p 1.P2等級生物實驗室
      p 2.標準十萬級潔淨無塵室
      p 3.食品級綠色萃取純化設備
      p 4.食品級噴霧乾燥設備
      p 5.真空冷凍乾燥機
      p 6.歐洲進口頂級真空乳化鍋
      p 7.油壓昇降式高速乳化機
      p 8.自動化充填機
      p 9.自動化鎖蓋機
      p 10. HPLC液相層析檢測設備
      p 11. 低溫恆溫培養箱/冷熱循環機

.page.container-fluid.company#location
  .row
    .col-sm-6.col-xs-12
      .module-title
        h4.title
          span.tw 全球據點
          span.en Location
      .text
        p 妍禾生醫透過與品牌客戶合作，產品已行銷世界40餘國。為了能夠更有效率的回應客戶需求，在亞洲、歐洲、美洲各地皆設有辦公室，透過全球化的佈局，與世界接軌。
        p 1. 新竹總部(生產中心&五大實驗室)
        p.text-red 2. 宜蘭綠色萃取工廠
        p 3. 台北辦公室
        p 4. 美國辦公室: 華盛頓州
        p 5. 歐洲辦公室: 荷蘭
        p 6. 中國辦公室: 上海

.page.container-fluid.company#certificate
  .row
    .col-xs-12
      .owl-carousel
        .item(style="background:url("+url+"certificate.png);")
        .item(style="background:url("+url+"certificate.png);")
        .item(style="background:url("+url+"certificate.png);")
        .item(style="background:url("+url+"certificate.png);")
        .item(style="background:url("+url+"certificate.png);")
        .item(style="background:url("+url+"certificate.png);")
        .item(style="background:url("+url+"certificate.png);")
        .item(style="background:url("+url+"certificate.png);")
        .item(style="background:url("+url+"certificate.png);")
        .item(style="background:url("+url+"certificate.png);")
        .item(style="background:url("+url+"certificate.png);")
        .item(style="background:url("+url+"certificate.png);")
        .item(style="background:url("+url+"certificate.png);")
        .item(style="background:url("+url+"certificate.png);")
        .item(style="background:url("+url+"certificate.png);")
        .item(style="background:url("+url+"certificate.png);")
        .item(style="background:url("+url+"certificate.png);")
        .item(style="background:url("+url+"certificate.png);")
        .item(style="background:url("+url+"certificate.png);")
        .item(style="background:url("+url+"certificate.png);")
        .item(style="background:url("+url+"certificate.png);")
        .item(style="background:url("+url+"certificate.png);")
        .item(style="background:url("+url+"certificate.png);")