- var url = '/ezfiles/786/1786/img/485/'

.page.service.container-fluid.section-1.rd(style="background:url("+url+"service-bg.jpg);")
  .row
    .col-xs-12
      h4.title.text-center
        | 五大實驗室
        span.text-georgia ImDerma Laboratories
      ul.list-inline
        li
          a(href="#rd-1" data-aos="fade-up")
            img.img-responsive(src=url + "rd-1.png", alt="")
            span.text
              | 原料開發實驗室
        li
          a(href="#rd-2" data-aos="fade-up")
            img.img-responsive(src=url + "rd-2.png", alt="")
            span.text
              | 安全驗證實驗室
              small P2級
        li
          a(href="#rd-3" data-aos="fade-up")
            img.img-responsive(src=url + "rd-3.png", alt="")
            span.text
              | 功效檢測實驗室
              small P2級
        li
          a(href="#rd-4" data-aos="fade-up")
            img.img-responsive(src=url + "rd-4.png", alt="")
            span.text
              | 微生物實驗室
              small P2級
        li
          a(href="#rd-5" data-aos="fade-up")
            img.img-responsive(src=url + "rd-5.png", alt="")
            span.text 配方設計實驗室

.page.container-fluid.rd-section#rd-1(style="background-image:url("+url+"rd-1-bg.jpg);")
  .row
    .col-sm-6.col-xs-12.content_l
      .content
        h4.title(data-aos="fade-up") 原料開發實驗室
        p(data-aos="fade-up") 挖掘自然界中珍稀植物萃取與各種有益皮膚的原料素材，運用尖端萃取技術平台以最適方式高效能萃取，並透過生物活性平台分析活性物，再偕同功效性與安全性驗證平台，確保原料安全、有效。以嚴謹的態度專注原料開發，探索大自然更多可能！
    .col-sm-6.col-xs-12.content_r(style="background:url("+url+"rd-1-img.png);")
      .content
        h5.sub-title(data-aos="fade-up") 核心技術
        h4.title(data-aos="fade-up") 低溫分子篩綠色萃取技術
        p(data-aos="fade-up") 以綠色化學為前提，運用壓力、溫度、流速、溶劑分配係數等物理參數操作之學理和經驗，挑選適合之分子篩進行選擇性分離提純，為客戶萃取出並保留最高活性成分含量。

.page.container-fluid.rd-section#rd-2(style="background-image:url("+url+"rd-2-bg.jpg);")
  .row
    .col-sm-6.col-xs-12.content_l
      .content
        h4.title(data-aos="fade-up")
          | 安全驗證實驗室
          .btn-text P2級
        p(data-aos="fade-up") 實驗室配置專業安全評估人員（Safety assessors）和先進設備，透過毒理學專業知識、物化分析、替代性動物試驗、人體臨床測試等，評估原料至配方端的安全性，並建立產品安全資訊檔案，確保符合各國法規、施用於人體無安全疑慮。
    .col-sm-6.col-xs-12.content_r(style="background:url("+url+"rd-2-img.png);")
      .content
        h5.sub-title(data-aos="fade-up") 核心技術
        h4.title(data-aos="fade-up") 替代動物方法皮膚毒理評估
        p(data-aos="fade-up") 率先引進領先業界、符合OECD指引的替代動物測試方法，進行如皮膚/眼睛刺激性、致敏性、表皮屏障功能評估、光毒性測試等皮膚毒理評估技術，確保產品有效亦安全無虞。

.page.container-fluid.rd-section#rd-3(style="background-image:url("+url+"rd-3-bg.jpg);")
  .row
    .col-sm-6.col-xs-12.content_l
      .content
        h4.title
          | 功效檢測實驗室
          .btn-text P2級
        p(data-aos="fade-up") 以先進的3D Skin和多種皮膚細胞及免疫細胞株，檢測產品之功效路徑和效用濃度劑量關係，並運用多靶點(Multi-target)策略和經皮吸收評估之結果，篩選出最佳成分組合與劑量。此外，也與國內外人體臨床實驗室、醫學中心、學術機構合作進行人體臨床測試。
    .col-sm-6.col-xs-12.content_r(style="background:url("+url+"rd-3-img.png);")
      .content
        h5.sub-title(data-aos="fade-up") 核心技術
        h4.title(data-aos="fade-up") 3D皮膚組織和細胞模式之功效評估
        ul.half
          li(data-aos="fade-up") 抗氧化／抗老化效能評估
          li(data-aos="fade-up") 美白效能評估
          li(data-aos="fade-up") 保濕/肌膚屏障測試
          li(data-aos="fade-up") 抗發炎／抗痘／細胞修復功效評估
          li(data-aos="fade-up") 經皮吸收系統檢測
          li(data-aos="fade-up") 總多醣／總多酚／總類黃酮含量檢測

.page.container-fluid.rd-section#rd-4(style="background-image:url("+url+"rd-4-bg.jpg);")
  .row
    .col-sm-6.col-xs-12.content_l
      .content
        h4.title
          | 微生物實驗室
          .btn-text P2級
        p(data-aos="fade-up") 以國際標準檢驗方法檢測7大菌種，並建立4大防腐效能測試方式，確保原料或成品皆符合各國驗菌標準；亦具備開發安全且高效能的天然防腐劑和抑菌成分之能力，能依照劑型或原料屬性，提供客製化微生物檢測服務。
        p
          small(data-aos="fade-up") 目前實驗室可檢測菌種：黑黴菌／金黃色葡萄球菌／大腸桿菌／綠膿桿菌／白色念珠菌／痤瘡桿菌／皮屑芽孢菌
    .col-sm-6.col-xs-12.content_r(style="background:url("+url+"rd-4-img.png);")
      .content
        h5.sub-title(data-aos="fade-up") 核心技術
        h4.title(data-aos="fade-up") 微生物檢測分析評估技術
        ul
          li(data-aos="fade-up") 細菌、真菌、酵母菌、黴菌分析檢測
          li(data-aos="fade-up") 防腐系統開發(MIC測試/抑菌力測試/防腐效能試驗/增菌實驗)
          li(data-aos="fade-up") 皮膚益生菌開發

.page.container-fluid.rd-section#rd-5(style="background-image:url("+url+"rd-5-bg.jpg);")
  .row
    .col-sm-6.col-xs-12.content_l
      .content
        h4.title
          | 配方設計實驗室
        p(data-aos="fade-up") 累積超過上萬筆的配方系統資料庫和20年配方調製經驗，深入研究常使用的原料與彼此間的協同效果，經皮膚科學參數分析，優化劑型觸感與效果，再依照目標客戶市場屬性、季節、偏好等，開發符合消費者需求的最佳配方。
    .col-sm-6.col-xs-12.content_r(style="background:url("+url+"rd-5-img.png);")
      .content
        h5.sub-title(data-aos="fade-up") 核心技術
        h4.title(data-aos="fade-up") 新穎配方與劑型設計
        ul
          li(data-aos="fade-up") 微分子乳化技術/多重乳化技術/液晶乳化技術
          li(data-aos="fade-up") 水凝霧化技術
          li(data-aos="fade-up") 3D結構乳化技術
          li(data-aos="fade-up") 雙相連續導出技術