- var url = '/ezfiles/786/1786/img/485/'

.page.service.container-fluid.section-1(style="background:url("+url+"service-bg.jpg);")
  .row
    .col-xs-12
      h4.title.text-center 360°肌膚保養整合方案
      ul.list-inline
        li
          a(href="/m/412-1786-1027.php?Lang=zh-tw#detail-1" data-aos="fade-up") 客製化原料開發
        li
          a(href="/m/412-1786-1027.php?Lang=zh-tw#detail-2" data-aos="fade-up") 化妝品原料功效性驗證平台 
        li
          a(href="/m/412-1786-1027.php?Lang=zh-tw#detail-3" data-aos="fade-up") 化妝品原料安全性驗證平台 
        li
          a(href="/m/412-1786-1027.php?Lang=zh-tw#detail-4" data-aos="fade-up") 微生物檢驗
        li
          a(href="/m/412-1786-1027.php?Lang=zh-tw#detail-5" data-aos="fade-up") 原料INCI申請
        li
          a(href="/m/412-1786-1027.php?Lang=zh-tw#detail-6" data-aos="fade-up") 各國法規遵循與諮詢 
        li
          a(href="/m/412-1786-1027.php?Lang=zh-tw#detail-7" data-aos="fade-up") 化妝品ODM/OEM代工

.page.service.container-fluid.detail
  .row#detail-1
    .img.col-xs-12(data-aos="fadde-up")
      img(src=url + "service-1.jpg", alt="")
    .text.col-xs-12
      p.title(data-aos="fade-up") 客製化原料開發
      p.sub-title(data-aos="fade-up")
        | 原料開發實驗室深度鑽研並累積多年實務經驗
        br
        | 協助品牌開發獨家高濃度活性成分
      ul
        li(data-aos="fade-up") 以HPLC進行活性物分析
        li(data-aos="fade-up") 運用尖端萃取技術平台，以最適方式高效能萃取
        li(data-aos="fade-up") 偕同功效性&安全性驗證平台，確保原料安全、有效
        li(data-aos="fade-up") 國際化妝品成分INCI登錄
        li(data-aos="fade-up") 專利申請
        li(data-aos="fade-up") COSMOS申請
        li(data-aos="fade-up") HALAL申請
  .row#detail-2
    .img.col-xs-12(data-aos="fadde-up")
      img(src=url + "service-2.jpg", alt="")
    .text.col-xs-12
      p.title(data-aos="fade-up") 功效性驗證平台
      p.sub-title(data-aos="fade-up")
        | 透過P2級功效驗證實驗室科學化效果驗證(in-vitro, ex-vivo, in-vivo)
        br
        | 並與各大醫學中心、學術機構合作進行人體臨床測試
      ul
        li(data-aos="fade-up") 總多醣/總多酚/總類黃酮含量檢測
        li(data-aos="fade-up") 抗氧化效能測試
        li(data-aos="fade-up") 膠原蛋白增生活性檢測
        li(data-aos="fade-up") 美白效能驗證
        li(data-aos="fade-up") 抗老化效能評估(抗光老化/抗皺)
        li(data-aos="fade-up") 保濕效能評估
        li(data-aos="fade-up") 肌膚屏障測試
        li(data-aos="fade-up") 抗發炎功效評估
  .row#detail-3
    .img.col-xs-12(data-aos="fadde-up")
      img(src=url + "service-3.jpg", alt="")
    .text.col-xs-12
      p.title(data-aos="fade-up") 安全性驗證平台
      p.sub-title(data-aos="fade-up")
        | 經安全驗證實驗室依據OECD標準建立動物替代性安全試驗平台
        br
        | 並與國際認證皮膚臨床實驗室合作進行人體臨床測試
      ul
        li(data-aos="fade-up") 直接肽鏈反應分析(Direct Peptide Reaction Assay, DPRA)
        li(data-aos="fade-up") 細胞毒性測試(Cell viability assay)
        li(data-aos="fade-up") 細胞致突變測試(Ames test)
        li(data-aos="fade-up") 皮膚刺激性測試(OECD 439)
        li(data-aos="fade-up") 皮膚致敏性測試(OECD  442C)
        li(data-aos="fade-up") 皮膚腐蝕性測試(OECD 431)
        li(data-aos="fade-up") 人體貼敷測試(Patch test)
        li(data-aos="fade-up") 人體連續皮膚刺激性實驗(REPEAT INSULT PATCH TEST, RIPT)
        li(data-aos="fade-up") 人體光毒性測試
        li(data-aos="fade-up") 人體光敏性測試
  .row#detail-4
    .img.col-xs-12(data-aos="fadde-up")
      img(src=url + "service-4.jpg", alt="")
    .text.col-xs-12
      p.title(data-aos="fade-up") 微生物檢驗
      p.sub-title(data-aos="fade-up")
        | 斥資千萬高規格打造的P2級微生物實驗室
        br
        | 協助客戶解決各種微生物問題
      ul
        li(data-aos="fade-up") 五大致病菌檢測(黑黴菌/金黃色葡萄球菌/大腸桿菌/綠膿桿菌/白色念珠菌)
        li(data-aos="fade-up") 依據ISO 11930標準之防腐系統開發(MIC/抑菌圈/防腐挑戰試驗/增菌實驗)
        li(data-aos="fade-up") 抗菌測試(五大致病菌/痤瘡桿菌/皮屑芽孢菌)
        li(data-aos="fade-up") 皮膚益生菌開發
  .row#detail-5
    .img.col-xs-12(data-aos="fadde-up")
      img(src=url + "service-5.jpg", alt="")
    .text.col-xs-12
      p.title(data-aos="fade-up") 化妝品原料INCI申請
      p.sub-title(data-aos="fade-up")
        | 斥資千萬高規格打造的P2級微生物實驗室
        br
        | 協助客戶解決各種微生物問題
      ul
        li(data-aos="fade-up") 客供原料及相關文件，委由妍禾生醫代辦申請
        li(data-aos="fade-up") 由妍禾生醫客製化開發原料並申請INCI
  .row#detail-6
    .img.col-xs-12(data-aos="fadde-up")
      img(src=url + "service-6.jpg", alt="")
    .text.col-xs-12
      p.title(data-aos="fade-up") 各國法規遵循與諮詢
      p.sub-title(data-aos="fade-up")
        | 協助登錄國際化妝品原料命名(INCI)
        br
        | 關鍵原料技術合法化
      ul
        li(data-aos="fade-up") 中國化粧品進口備案代辦
        li(data-aos="fade-up") 歐盟PIF代辦
        li(data-aos="fade-up") 台灣PIF代辦
        li(data-aos="fade-up") 台灣TFDA化妝品合規服務(PIF登錄/含藥化妝品查驗登記)
        li(data-aos="fade-up") 東協化妝品註冊服務
  .row#detail-7
    .img.col-xs-12(data-aos="fadde-up")
      img(src=url + "service-7.jpg", alt="")
    .text.col-xs-12
      p.title(data-aos="fade-up") 化妝品ODM/OEM
      p.sub-title(data-aos="fade-up")
        | 挖掘市場需求，掌握市場先機
        br
        | 開發合規且成本合宜的高效能產品
      ul
        li(data-aos="fade-up") 生產劑型：液劑/乳劑/霜劑/油劑
        li(data-aos="fade-up") 產品類型涵蓋臉部護理/身體護理/頭皮護理等
        li(data-aos="fade-up") 依照品牌需求與市場趨勢提供客製化產品提案
        li(data-aos="fade-up") 特殊保養品產品開發設計
        li(data-aos="fade-up") 醫美術後保養品
        li(data-aos="fade-up") 歐盟COSMOS認證產品
        li(data-aos="fade-up") 無添加防腐劑產品
        li(data-aos="fade-up") 敏感肌/敏弱肌適用之低敏保養品
        li(data-aos="fade-up") 生髮健髮產品
        li(data-aos="fade-up") P2級微生物實驗室實驗確效之私密處護理產品與抗頭皮屑產品