- var url = '/ezfiles/773/1773/img/271/'

// 標題
.page.container-fluid.page-title
  .row
    .col-xs-12
      h4.title.text-center 實驗室設備

.page.container-fluid.item.section-1
  .row
    .col-sm-4.col-xs-12
      a(href=url+"item.png" data-fancybox="item" data-caption="高效液相層析")
        img.img-responsive(src=url+"item.png", alt="")
        p.title 高效液相層析
        figcaption 功效性成份分析
    .col-sm-4.col-xs-12
      a(href=url+"item.png" data-fancybox="item" data-caption="氣相層析")
        img.img-responsive(src=url+"item.png", alt="")
        p.title 氣相層析
        figcaption 功效性成份分析
    .col-sm-4.col-xs-12
      a(href=url+"item.png" data-fancybox="item" data-caption="超高速低溫離心機")
        img.img-responsive(src=url+"item.png", alt="")
        p.title 超高速低溫離心機
        figcaption 萃取物製成
    .col-sm-4.col-xs-12
      a(href=url+"item.png" data-fancybox="item" data-caption="紫外線可見光分光光譜儀")
        img.img-responsive(src=url+"item.png", alt="")
        p.title 紫外線可見光分光光譜儀
        figcaption 功效性評估
    .col-sm-4.col-xs-12
      a(href=url+"item.png" data-fancybox="item" data-caption="-80超低溫冷凍櫃")
        img.img-responsive(src=url+"item.png", alt="")
        p.title -80超低溫冷凍櫃
        figcaption 菌種保存
    .col-sm-4.col-xs-12
      a(href=url+"item.png" data-fancybox="item" data-caption="低濕度環控冷凍乾燥機")
        img.img-responsive(src=url+"item.png", alt="")
        p.title 食品加工及菌種保存
        figcaption 食品加工及菌種保存
    .col-sm-4.col-xs-12
      a(href=url+"item.png" data-fancybox="item" data-caption="無菌操作台")
        img.img-responsive(src=url+"item.png", alt="")
        p.title 無菌操作台
        figcaption 微生物研究作業
    .col-sm-4.col-xs-12
      a(href=url+"item.png" data-fancybox="item" data-caption="高速攪拌粉碎機")
        img.img-responsive(src=url+"item.png", alt="")
        p.title 高速攪拌粉碎機
        figcaption 原料素材製作