- var url = '/ezfiles/858/1858/img/1517/'

.page.container-fluid.menu
  .row
    .col-xs-12
      .module-title(data-aos="fade-up")
        h4.title 線簿&線卡
  .row.gallery
    .col-xs-12
      h3.title 斜紋布(點圖可放大)
    .col-sm-3.col-xs-12.img
      a(href=url + "menu-1.jpg" data-fancybox="gallery")
        img.img-responsive(src=url + "menu-1.jpg", alt="")
        span.box
          i.fa.fa-search
    .col-sm-3.col-xs-12.img
      a(href=url + "menu-2.jpg" data-fancybox="gallery")
        img.img-responsive(src=url + "menu-2.jpg", alt="")
        span.box
          i.fa.fa-search
    .col-sm-3.col-xs-12.img
      a(href=url + "menu-3.jpg" data-fancybox="gallery")
        img.img-responsive(src=url + "menu-3.jpg", alt="")
        span.box
          i.fa.fa-search
    .col-sm-3.col-xs-12.img
      a(href=url + "menu-4.jpg" data-fancybox="gallery")
        img.img-responsive(src=url + "menu-4.jpg", alt="")
        span.box
          i.fa.fa-search
  .row.gallery
    .col-xs-12
      h3.title 繡線(點圖可放大)
    .col-sm-3.col-xs-12.img
      a(href=url + "menu-5.jpg" data-fancybox="gallery")
        img.img-responsive(src=url + "menu-5.jpg", alt="")
        span.box
          i.fa.fa-search
    .col-sm-3.col-xs-12.img
      a(href=url + "menu-6.jpg" data-fancybox="gallery")
        img.img-responsive(src=url + "menu-6.jpg", alt="")
        span.box
          i.fa.fa-search
    .col-sm-3.col-xs-12.img
      a(href=url + "menu-7.jpg" data-fancybox="gallery")
        img.img-responsive(src=url + "menu-7.jpg", alt="")
        span.box
          i.fa.fa-search