- var url = '/ezfiles/773/1773/img/271/'
// 標題
.page.container-fluid.page-title#farm
  .row
    .col-xs-12
      h4.title.text-center 農畜資材

.prod-detail.farm
  // 區塊一
  article
    // 資訊
    .info
      // 名稱
      h4.title AnsiP®-G
      // 簡述
      .content
        p AnsiP-G ®  Effervescent Tablet  Slow Release Design for Large Space
        //- ul
        //-   li 
    //- // 簡述圖片
    //- .img
    //-   ul.list-inline
    //-     li
    //-       img.img-responsive(src=url + "prod-min-img-1.png", alt="")
    //-     li
    //-       img.img-responsive(src=url + "prod-min-img-2.png", alt="")
    //-     li
    //-       img.img-responsive(src=url + "prod-min-img-3.png", alt="")
  // 區塊二
  article
    p 1-MCP substrate is well secured by LYTONE’s unique technology in tablet that release 1-MCP at mild rate to assure average distribution. 
    p
      |  Suitable for : walk-in refrigerator, storage room…etc 
      br
      | 1. Calculate required dosage
      br
      | 2. Place tablets in wide-opening container/disposable cups.
      br
      | 3. Add tap water to submerge tablets
      br
      | 4. Leave the room and airtight over 12 hours
    // 圖片區塊一
    figure
      img.img-responsive(src=url + "farm-img-1.png", alt="")
    // 圖片區塊二
    figure
      img.img-responsive(src=url + "farm-img-2.png", alt="")
    // 圖片區塊三
    figure
      img.img-responsive(src=url + "farm-img-3.png", alt="")