- var url = '/ezfiles/773/1773/img/271/'


.page.container-fluid.page-title
  .row
    .col-xs-12
      h4.title.text-center
      
.page.container-fluid.tec
  .row
    aside.col-sm-3.col-xs-12
      ul
        li
          a(href="/m/403-1773-144.php?Lang=en") 美容保養
        li
          a(href="/m/403-1773-145.php?Lang=en") 腸胃保健
        li
          a(href="/m/403-1773-146.php?Lang=en") 增強免疫
        li
          a(href="/m/403-1773-147.php?Lang=en") 抗氧化
        li
          a(href="/m/403-1773-148.php?Lang=en") 血糖控制
        li
          a(href="/m/403-1773-149.php?Lang=en") 骨關節
        li
          a(href="/m/403-1773-150.php?Lang=en") 降尿酸
        li
          a(href="/m/403-1773-151.php?Lang=en") 抗疲勞
        li
          a(href="/m/403-1773-152.php?Lang=en") 護肝抗疲
    main.col-sm-9.col-xs-12.append


.prod-detail
  // 區塊一
  article
    // 資訊
    .info
      // 名稱
      h4.title N-acetyl-D-Glucosamine(Marine Sweet® 40C)
      // 簡述
      .content
        ul
          li 
            | Naturally produced NAG (N-acetyl-D-glucosamine), a precursor for Hyaluronic acid, improves skin moisture and joint health.
            ul
              li Complete clinical trial and safety data
              li JP2001-48789, JP2000-281896), ZL001 08263.9 and patents in many other nations granted
          li Good taste, stable for food processing
          li Improves skin moisture retention
          li Balances pH value of skin
          li Enhances metabolism of Hyaluronic acid
    // 簡述圖片
    .img
      ul.list-inline
        li
          img.img-responsive(src=url + "prod-min-img-1.png", alt="")
        li
          img.img-responsive(src=url + "prod-min-img-2.png", alt="")
        li
          img.img-responsive(src=url + "prod-min-img-3.png", alt="")
  // 區塊二
  article
    // 圖片區塊一
    figure
      img.img-responsive(src=url + "prod-img-1.png", alt="")
    // 圖片區塊二
    figure
      img.img-responsive(src=url + "prod-img-2.png", alt="")