- var url = './dist/images/'

.idx.container-fluid.section-6
  .row
    .col-xs-12
      .module-title
        .content
          h4.title 檢測報告
          h5.sub-title CERTIFICATION
  .row.list
    ul.list-inline
      li
        a(href=url + "section-6-img-1.png" data-fancybox="gallery")
          img(src=url + "section-6-img-1.png", alt="")
      li
        a(href=url + "section-6-img-2.png" data-fancybox="gallery")
          img(src=url + "section-6-img-2.png", alt="")
      li
        a(href=url + "section-6-img-3.png" data-fancybox="gallery")
          img(src=url + "section-6-img-3.png", alt="")
      li
        a(href=url + "section-6-img-4.png" data-fancybox="gallery")
          img(src=url + "section-6-img-4.png", alt="")