- var url = '/ezfiles/780/1780/img/404/'

.idx.container-fluid.section-1
  .container
    .row
      .col-xs-12
        h3.title
          span 產品介紹
    .row.content
      .col-sm-6.col-xs-12
        a(href="")
          img.img-responsive(src=url + "section-1-img-1.png", alt="")
          figcaption.text-center.text-green 近接感測器
      .col-sm-6.col-xs-12
        a(href="")
          img.img-responsive(src=url + "section-1-img-2.png", alt="")
          figcaption.text-center.text-green 光電感測器
      .col-sm-6.col-xs-12
        a(href="")
          img.img-responsive(src=url + "section-1-img-3.png", alt="")
          figcaption.text-center.text-green 超音波感測器
      .col-sm-6.col-xs-12
        a(href="")
          img.img-responsive(src=url + "section-1-img-4.png", alt="")
          figcaption.text-center.text-green 編碼器
      .col-sm-6.col-xs-12
        a(href="")
          img.img-responsive(src=url + "section-1-img-5.png", alt="")
          figcaption.text-center.text-green
            | 無線識別系統
            br
            | RFID
      .col-sm-6.col-xs-12
        a(href="")
          img.img-responsive(src=url + "section-1-img-6.png", alt="")
          figcaption.text-center.text-green
            | 感應式定位系統
            br
            | PMI & Positioning
      .col-sm-12.col-xs-12
        p.text-center.more
          a.btn(href="") READ MORE >>