- var url = './dist/images/'

.idx.container-fluid.section-6
  .row
    .col-xs-12
      .module-title
        .content
          h4.title 檢測報告
          h5.sub-title CERTIFICATION
  .row.list
    .col
      a(href=url + "section-6-big-img-1.png" data-fancybox="gallery")
        span.img
          span.zoom-box
            span ZOOM
          img(src=url + "section-6-img-1.png", alt="")
        span 完整檢測報告
    .col
      a(href=url + "section-6-big-img-2.png" data-fancybox="gallery")
        span.img
          span.zoom-box
            span ZOOM
          img(src=url + "section-6-img-2.png", alt="")
        span
          | 3D網眼布
          br
          | 通過生物測試均無害
    .col
      a(href=url + "section-6-big-img-3.jpg" data-fancybox="gallery")
        span.img
          span.zoom-box
            span ZOOM
          img(src=url + "section-6-img-3.png", alt="")
        span 2000萬投保保證明書
    .col
      a(href=url + "section-6-big-img-4.jpg" data-fancybox="gallery")
        span.img
          span.zoom-box
            span ZOOM
          img(src=url + "section-6-img-4.png", alt="")
        span
          | 衛福部一類醫療器材
          br
          | 許可證(5M)