- var url = './dist/images/'

.idx.container-fluid.section-6
  .row
    .col-xs-12
      .module-title
        .content
          h4.title 檢測報告
          h5.sub-title CERTIFICATION
  .row.list
    ul.list-inline
      li
        a(href=url + "section-6-img-1.png" data-fancybox="gallery")
          span.img
            img(src=url + "section-6-img-1.png", alt="")
          span 完整檢測報告
      li
        a(href=url + "section-6-img-2.png" data-fancybox="gallery")
          span.img
            img(src=url + "section-6-img-2.png", alt="")
          span
            | 3D網眼布
            br
            | 通過生物測試均無害
      li
        a(href=url + "section-6-img-3.png" data-fancybox="gallery")
          span.img
            img(src=url + "section-6-img-3.png", alt="")
          span 2000萬投保保證明書
      li
        a(href=url + "section-6-img-4.png" data-fancybox="gallery")
          span.img
            img(src=url + "section-6-img-4.png", alt="")
          span
            | 衛福部一類醫療器材
            br
            | 許可證(5M)